* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pic{
    position: relative;
    left: -30px;
    height: 125px;
    z-index: 1;
}
nav{
    
    background-color: gray;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    position: fixed;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
}
nav li{
    margin: 0 35px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:black;
    background-color: gray;
    border-radius: 25px;
    display: inline-block;
    padding: 8px 10px;
    box-shadow: inset 5px 5px 15px lightgray, -5px -5px 15px  lightgray;
    transition: transform 0.3s ease;
    position: relative;
    left: -15px;
}
nav ul li a:hover{
    transform: scale(1.1);

}
nav form{
    display: flex;
    margin-left: 10px;
    
    border-radius: 25px;
    height: 6vh;
    overflow: hidden;
    border: none;
    box-shadow: inset 5px 5px 15px lightgrey, -5px -5px 15px  lightgray;
    transition: transform 2s ease;
}
nav form:hover{
    transform: scale(1.1 );
}
nav form input{
    text-align: center;
    flex: 1;
    outline: none;
    border: none;
    background-color: lightgray;
}
nav form button{
    text-align: center;
    width: 4vw;
    background-color:  gray;
    outline: none;
    overflow: hidden;
    border: none;
}

.deal{
        width: 300px;
        display: block;
        margin: 25px auto;
       
    } 
.container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
        
    }
.productcard{

        border-radius: 10px;
        justify-content: center;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2), -5px -5px 15px rgba(255,255,255,0.7); 
        text-align: center;
    
        padding: 15px;
    }
.productcard img{
        border-radius: 8px;
      max-width: 100%;
      height: 25vh;
    }
.productcard span {
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    color: #333; /* Dark grey color */
}
